html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.35em;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: #23527c;
    border-bottom: 1px solid #23527c;
  }
}

button {
  padding: 8px 15px;
  font-size: 15px;
  background: transparent;
  border: 2px solid #000;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
